{{ define "main" }}
  <div class="text-container">
    <h1 class="tag-heading">Tagged: {{ .Title }}</h1>

    <div class="posts-list">
      {{ range .Pages }}
        {{ $p := . }}
        <article class="post-preview">
          <a href="{{ $p.RelPermalink }}">
            {{ with $p.Params.featured }}
              {{ $img := . }}
              {{ with $p.Resources.GetMatch $img }}
                {{ with .Fit "800x600" }}
                  <img src="{{ .RelPermalink }}" alt="{{ $p.Title }}">
                {{ end }}
              {{ else }}
                <img src="{{ $img | relURL }}" alt="{{ $p.Title }}">
              {{ end }}
            {{ end }}
            <div class="overlay">
              <div class="title">{{ $p.Title }}</div>
            </div>
          </a>
        </article>
      {{ end }}
    </div>
  </div>
{{ end }}
