{{ define "main" }}
  <div class="text-container">
    <h1>Posts tagged “{{ .Title }}”</h1>
  </div>

  <div class="posts-list">
    {{ range .Pages }}
      {{ $page := . }}
      {{ $featured := $page.Params.featured }}
      {{ $res := "" }}
      {{ with $featured }}
        {{ $res = $page.Resources.GetMatch . }}
      {{ end }}

      <article class="post-preview">
        <a href="{{ $page.RelPermalink }}">
          {{ if and $res (isset $res "MediaType") (in $res.MediaType.Type "image") }}
            {{ $thumb := $res.Fit "800x0" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ $page.Title }}">
          {{ else if $featured }}
            <img src="{{ printf "%s%s" $page.RelPermalink $featured }}" alt="{{ $page.Title }}">
          {{ end }}
          <div class="overlay">
            <div class="title">{{ $page.Title }}</div>
          </div>
        </a>
      </article>
    {{ end }}
  </div>

  <div class="pagination">
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
