{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default $src }}

{{ $max := .Site.Params.postImageMax | default 1200 }}
{{ $gutter := .Site.Params.postImageGutter | default 24 }}

{{/* Rendered width is roughly max minus gutters on wide screens */}}
{{ $renderMax := sub $max (mul $gutter 2) }}

{{ $w1 := 700 }}
{{ $w2 := $renderMax }}
{{ $w3 := mul $renderMax 2 }}

{{ partial "responsive-img.html" (dict
"page" .Page
"src" $src
"alt" $alt
"widths" (slice $w1 $w2 $w3)
"sizes" (printf "(min-width: %dpx) %dpx, calc(100vw - %dpx)" $max $renderMax (mul $gutter 2))
"quality" 85
) }}